@use "variables" as *;

@mixin mobile {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $mobile) and (max-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $tablet) {
		@content;
	}
}

@mixin screen($size) {
	@media (min-width: $size) {
		@content;
	}
}
